* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: Poppins;
  /* font-size: 62.5%; */

  padding: 0 0.3rem;
  max-width: 130rem;
  color: #313e5b;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #ced4da;
  /* padding: 0.5rem 1rem; */
  align-items: center;
  margin-bottom: 1rem;
  height: 4rem;
  top: 0;
  position: sticky;
  margin-top: 3rem;
  z-index: 9999;
}

.navLink ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;

  gap: 1.6rem;
  justify-content: center;
}
.navLink ul li {
  color: rgb(15, 15, 15);
  padding: 0.8rem 1.8rem;

  border-radius: 0.9rem;
}
.navLink ul li:hover {
  color: #fff;
  padding: 0.8rem 1.8rem;
  /* background-color: #711dc09d; */
  background-image: linear-gradient(to righT, #711dc09d, #8756b4e8);
  border-radius: 0.9rem;
  cursor: pointer;
}
.logo {
  background-color: #6374c0;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
}
.que {
  padding: 0.5rem 1.8rem;
  border-radius: 0.9rem;
}
.que:hover {
  /* background-color: #fa0303a9; */
  padding: 0.5rem 1.8rem;
  border-radius: 0.9rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 191),
    rgb(212, 0, 165)
  );
}
.que p {
  color: rgb(8, 8, 8);
}
.mobileBars {
  font-size: 0;
}

.firstHead {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
.textContent {
  /* background-color: chartreuse; */
  padding: 1rem 1rem 1rem 5rem;
}

.tohead {
  margin-top: 3rem;
  font-size: 2.4rem;
}

section {
  margin-top: 10rem;
  padding: 1rem 1rem;
  margin-bottom: 5.5rem;
}
.section2 {
  margin-bottom: 3rem;
}
.img1 {
  width: 100%;
  justify-content: center;
  border-radius: 0.9rem;
}
.imgDiv {
  /* background-color: cadetblue; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.adiv {
  display: flex;
}
.btn1 {
  color: #60a9f2;
  padding: 1.2rem 1.4rem;
  background-color: #dbe6fb;
  border: 0.2rem solid black;
  text-decoration: none;
  border-radius: 0.9rem;
}
.btnGroup {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 2rem;
  flex-wrap: wrap;
}
.btn2 {
  background-color: #525f81;
  padding: 1rem 3rem;
  border-radius: 0.9rem;
  color: #fff;
  text-decoration: none;
}
.btn3 {
  /* padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #437eeb;
  text-decoration: none;
  border-radius: 0.9rem; */
  background-color: #437eeb;
}
/* testimonial css */
.testimonials {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8rem;
}
.card {
  box-shadow: 0.1rem 0.1rem 2rem 0.5rem rgba(128, 128, 128, 0.397);

  padding: 3rem;
  border-radius: 1rem;
}

/* heading after textimonials */
.haeadAfterTextImonial {
  margin: 5rem 0;
  text-align: center;
  color: #313e5b;
}

/* Logos  */
.logos {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 5rem;

  gap: 2rem;
}

.actulLogo {
  width: 7rem;
  height: 0.7rem;
  padding: 1rem;
  background-color: #313e5b;
}
.logo1 {
  /* box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.671); */
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.9rem;
}
.logosBoxText {
  margin-top: 2rem;
  color: #868e96;
}
.fa-color {
  color: white;
  background-color: #313e5b;
  padding: 2rem;
  border-radius: 0.9rem;
}
.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.belowHr {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 4rem;

  align-items: center;
}

/* grid 4 column 2 images in 2 two text content */
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imgGrid {
  width: 100%;
  height: 25rem;
}
.gridContent {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  justify-content: center;
  align-items: center;
}
p {
  color: #868e96;
}

/* Grid 3  */

.grid-3 {
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 6rem;
}
.grid-3-content img {
  width: 100%;
}
.grid-3-content {
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(128, 128, 128, 0.466);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 20px; */
}
.grid-3-content h2 {
  margin: 2rem;
}
.grid-3-content p {
  margin: 2rem;
}

/* videohead */
.videodiv {
  display: flex;
  justify-content: center;
}
.videohead {
  margin: 3rem 0rem;
  padding-left: 4rem;
}
.video {
  width: 90%;
  height: 100vh;
}

/* carousel Css */
.carousel {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 1rem 4rem;
  padding: 0.5rem 2rem;
}
.caroText {
  /* font-size: 1.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.1rem; */
}
.caroText p {
  text-align: center;
  padding: 0 4rem;
}
/* .personName {
  font-size: 1.5rem;
} */
.Pos1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Pos2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/* Price Card Container */

.PriceCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
}
.Pcard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 0 3rem; */
  /* box-shadow: 0.5rem 0.5rem 2rem rgba(128, 128, 128, 0.3); */
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 10%);
  /* transition: transform 0.5s ease; */
  transition: all 0.8s;
  border-radius: 2rem;
  overflow: hidden;
}
.Pcard:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.pcard_price {
  display: flex;

  gap: 0.5rem;
}
.pcard_h1 {
  border-bottom: 0.1rem solid black;
  display: flex;
  justify-content: center;
}
.validity {
  display: flex;
  flex-direction: column;
}
.innerboxcontainer {
  padding: 2rem;
}
.pcard_innerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem 1rem;
}
.price {
  font-size: 3.5rem;
  font-weight: 100;
}
.pcard_text {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;
  margin-top: 1rem;
  padding: 0 3rem;
}
.fa-check {
  color: #437eeb;
}
.btnGroup2 {
  display: flex;
  gap: 2rem;
}
.popular_card {
  background-color: #dbe6fb;
}
.popular_head {
  background-color: #437eeb;
}

/* Form scc */
.formcontainer {
  display: flex;
  padding: 6rem 3rem;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 10%);
  margin: 0 5.5rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.formtag {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  justify-content: space-between;
}
.formcommondiv {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.buttonform {
  display: flex;
  align-items: flex-end;
}
input {
  padding: 0.6rem 1.2rem 0.6rem 6rem;
  font-size: 1rem;
  border: none;
  border: solid 0.1rem #ccc;
  border-radius: 1rem;
}
input:focus {
  outline: none;
}
.selectclass {
  /* padding: 0.6rem 1.2rem 0.6rem 6rem; */
  padding: 0.6rem 5.5rem 0.6rem 5.5rem;
  font-size: 1rem;
  color: #757575;
  border: none; /* <-- This thing here */
  border: solid 0.1rem #ccc;
  border-radius: 1rem;
}
.haeadideal {
  margin: 2rem 0;
  text-align: center;
  color: #313e5b;
}
.formbtn {
  background-color: #525f81;
  padding: 0.6rem 7rem 0.6rem 7rem;
  border-radius: 0.9rem;
  color: #fff;
  text-decoration: none;
}
.formbtnGroup {
  display: flex;
  /* gap: 2rem; */
}

/* code for future use How to fix fab or font awesome icon in inpute field */
.iconsAll {
  display: flex;
  align-items: center;
  padding: 0.1rem 1.5rem;
  background-color: #eef3f9;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 0.1rem solid black;
  justify-content: center;
  text-align: center;
  border: solid 0.1rem #ccc;
  border-radius: 1rem;
}
.iconfinputediv {
  position: relative;
  display: flex;
  align-items: center;
}

/* Footer css */
.mainfooterdiv {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  background-color: #ccc;
  padding: 1.5rem 3rem;
  color: #757579;
}

.footerdiv2 ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
}

.footerdiv2 ul li:hover {
  cursor: pointer;
}
