* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: Poppins;
  max-width: 80rem;
  padding: 0 10px;

  color: #313e5b;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #ced4da;
  padding: 5px 10px;
  align-items: center;
  margin-bottom: 10px;
  width: 99%;
  top: 0;
  position: fixed;
}

.navLink ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;

  gap: 16px;
  justify-content: center;
}
.navLink ul li {
  color: rgb(15, 15, 15);
  padding: 8px 18px;

  border-radius: 9px;
}
.navLink ul li:hover {
  color: #fff;
  padding: 8px 18px;
  /* background-color: #711dc09d; */
  background-image: linear-gradient(to righT, #711dc09d, #7d36c0e8);
  border-radius: 9px;
  cursor: pointer;
}
.logo {
  background-color: #6374c0;
  padding: 12px 24px;
  border-radius: 9px;
}
.que {
  padding: 5px 18px;
  border-radius: 9px;
}
.que:hover {
  /* background-color: #fa0303a9; */
  padding: 5px 18px;
  border-radius: 9px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 191),
    rgb(212, 0, 165)
  );
}
.que p {
  color: rgb(8, 8, 8);
}

.firstHead {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
}
.textContent {
  /* background-color: chartreuse; */
  padding: 10px 10px 10px 50px;
}

.tohead {
  margin-top: 30px;
  font-size: 2.4rem;
}

section {
  margin-top: 100px;
  padding: 10px 10px;
  margin-bottom: 55px;
}
.section2 {
  margin-bottom: 30px;
}
.img1 {
  width: 100%;
  justify-content: center;
  border-radius: 9px;
}
.imgDiv {
  /* background-color: cadetblue; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.adiv {
  display: flex;
}
.btn1 {
  color: #60a9f2;
  padding: 12px 14px;
  background-color: #dbe6fb;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 9px;
}
.btnGroup {
  display: flex;
  gap: 20px;
  margin: 20px 0 20px;
}
.btn2 {
  background-color: #525f81;
  padding: 12px 24px;
  border-radius: 9px;
  color: #fff;
  text-decoration: none;
}
.btn3 {
  padding: 12px 24px;
  color: #fff;
  background-color: #437eeb;
  text-decoration: none;
  border-radius: 9px;
}
/* testimonial css */
.testimonials {
  display: grid;
  padding: 0 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18px;
}
.card {
  box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.397);

  padding: 30px;
  border-radius: 10px;
}

/* heading after textimonials */
.haeadAfterTextImonial {
  margin: 50px 0;
  text-align: center;
  color: #313e5b;
}

/* Logos  */
.logos {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 50px;

  gap: 20px;
}

.actulLogo {
  width: 70px;
  height: 7px;
  padding: 10px;
  background-color: #313e5b;
}
.logo1 {
  /* box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.671); */
  background-color: #fff;
  padding: 10px;
  border-radius: 9px;
}
.logosBoxText {
  margin-top: 20px;
  color: #868e96;
}
.fa-color {
  color: white;
  background-color: #313e5b;
  padding: 20px;
  border-radius: 9px;
}
.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.belowHr {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 40px;

  align-items: center;
}

/* grid 4 column 2 images in 2 two text content */
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imgGrid {
  width: 100%;
  height: 70vh;
}
.gridContent {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 70px 40px;
  justify-content: center;
  align-items: center;
}
p {
  color: #868e96;
}

/* Grid 3  */

.grid-3 {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 60px;
}
.grid-3-content img {
  width: 100%;
}
.grid-3-content {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.466);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 20px; */
}
.grid-3-content h2 {
  margin: 30px;
}
/* videohead */
.videodiv {
  display: flex;
  justify-content: center;
}
.videohead {
  margin: 30px 40px;
}
.video {
  width: 70rem;
  height: 100vh;
}
