* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: Poppins;

  padding: 0 1rem;
  max-width: 130rem;
  color: #313e5b;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #ced4da;
  padding: 0.5rem 1rem;
  align-items: center;
  margin-bottom: 1rem;
  height: 20vh;
  top: 0;
  position: sticky;
  margin-top: 3rem;
}

.navLink ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;

  gap: 1.6rem;
  justify-content: center;
}
.navLink ul li {
  color: rgb(15, 15, 15);
  padding: 0.8rem 1.8rem;

  border-radius: 0.9rem;
}
.navLink ul li:hover {
  color: #fff;
  padding: 0.8rem 1.8rem;
  /* background-color: #711dc09d; */
  background-image: linear-gradient(to righT, #711dc09d, #8756b4e8);
  border-radius: 0.9rem;
  cursor: pointer;
}
.logo {
  background-color: #6374c0;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
}
.que {
  padding: 0.5rem 1.8rem;
  border-radius: 0.9rem;
}
.que:hover {
  /* background-color: #fa0303a9; */
  padding: 0.5rem 1.8rem;
  border-radius: 0.9rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 191),
    rgb(212, 0, 165)
  );
}
.que p {
  color: rgb(8, 8, 8);
}

.firstHead {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
.textContent {
  /* background-color: chartreuse; */
  padding: 1rem 1rem 1rem 50px;
}

.tohead {
  margin-top: 3rem;
  font-size: 2.4rem;
}

section {
  margin-top: 10rem;
  padding: 1rem 1rem;
  margin-bottom: 5.5rem;
}
.section2 {
  margin-bottom: 3rem;
}
.img1 {
  width: 100%;
  justify-content: center;
  border-radius: 0.9rem;
}
.imgDiv {
  /* background-color: cadetblue; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.adiv {
  display: flex;
}
.btn1 {
  color: #60a9f2;
  padding: 1.2rem 1.4rem;
  background-color: #dbe6fb;
  border: 0.2rem solid black;
  text-decoration: none;
  border-radius: 0.9rem;
}
.btnGroup {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 2rem;
}
.btn2 {
  background-color: #525f81;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  color: #fff;
  text-decoration: none;
}
.btn3 {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #437eeb;
  text-decoration: none;
  border-radius: 0.9rem;
}
/* testimonial css */
.testimonials {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8rem;
}
.card {
  box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.397);

  padding: 3rem;
  border-radius: 1rem;
}

/* heading after textimonials */
.haeadAfterTextImonial {
  margin: 5rem 0;
  text-align: center;
  color: #313e5b;
}

/* Logos  */
.logos {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 5rem;

  gap: 2rem;
}

.actulLogo {
  width: 7rem;
  height: 0.7rem;
  padding: 1rem;
  background-color: #313e5b;
}
.logo1 {
  /* box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.671); */
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.9rem;
}
.logosBoxText {
  margin-top: 2rem;
  color: #868e96;
}
.fa-color {
  color: white;
  background-color: #313e5b;
  padding: 2rem;
  border-radius: 0.9rem;
}
.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.belowHr {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 4rem;

  align-items: center;
}

/* grid 4 column 2 images in 2 two text content */
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imgGrid {
  width: 100%;
  height: 70vh;
}
.gridContent {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 7rem 4rem;
  justify-content: center;
  align-items: center;
}
p {
  color: #868e96;
}

/* Grid 3  */

.grid-3 {
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 6rem;
}
.grid-3-content img {
  width: 100%;
}
.grid-3-content {
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(128, 128, 128, 0.466);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 20px; */
}
.grid-3-content h2 {
  margin: 3rem;
}
/* videohead */
.videodiv {
  display: flex;
  justify-content: center;
}
.videohead {
  margin: 3rem 4rem;
}
.video {
  width: 70rem;
  height: 100vh;
}
